# Python
__pycache__/
*.pyc
*.pyo

# Virtual Environment
venv/
env/
.venv/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# Environment variables
.env

# Build
build/
dist/

# OS files
.DS_Store
Thumbs.db